PORT="8080"
APP_ENV="development"
APP_NAME="streaming_api"

SQLITE_DATABASE_URL="./data/streaming_api.db"

JWT_SECRET="development-secret"
AUTH_TOKEN_EXPIRATION_TIME_IN_HOURS="8"

REDIS_HOST=""
REDIS_USERNAME=""
REDIS_PASSWORD=""

DD_APP_SEC="false"
DD_WITH_LOGS_STARTUP="false"

TMDB_API_URL=""